.posts {
    .post {
        padding: 0 15px;
        @media(min-width: 992px) {
            padding: 0 30px;
        }
        article {
            background: #252525;
            border-radius: 10px;
            overflow: hidden;
            &:hover {
                .thumb img {
                    transform: scale(1.2);
                }
            }
            .thumb {
                border-bottom: 5px solid $primary;
                height: 300px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                img {
                    transition: all 0.3s;
                }
            }
            .content {
                .body {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .blog-nav {
        li {
            cursor: pointer;
            text-align: center;
            display: inline-block;
            width: 40px;
            height: 40px;
            padding-top: 5px;
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
}

.single-post {
    max-width: 700px;
    .content {
        p {
            font-size: 14px;
            @media(min-width: 576px) {
                font-size: 16px;
            }
            margin: 10px 0;
        }
        audio {
            margin: 20px 0;
        }
    }
    .meta small span {
        i {
            margin: 0 10px 0 0;
            color: $primary;
        }
        &:not(:first-of-type) i {
            margin: 0 10px;
        }
    }
    h2 {
        font-family: $font-secondary;
        text-transform: none;
        font-size: 28px;
        @media(min-width: 576px) {
            font-size: 45px;
        }
    }
    img {
        width: 100%;
    }
}
