section.contact {
    p {
        i {
            top: 5px;
            left: 0;
        }

        &:nth-child(4) {
            i {
                top: 2px;
            }
        }

        span.title {
            opacity: .8;
        }
    }

    .notification {
        position: absolute;
        top: 20px;
        right: 20px;
        min-height: 80px;
        transition: opacity 500ms;
        opacity: 0;
        &.visible {
            opacity: 1;
        }
    }
}
