p {
    i {
        top: 5px;
        left: 0px;
    }
    &:nth-child(4) {
        i {
            top: 2px;
        }
    }
    span.title {
        opacity: .8;
    }
}

ul.social {
    padding-left: 0;
    margin-top: 20px;
    li {
        background-color: #333;
        font-size: 18px;
        padding-top: 5px;
        margin-right: 20px;
        text-align: center;
        border-radius: 50%;
    }
}