.mdp-btn {
    border-radius: 26px;
    line-height: 46px;
    background-color: $primary;
    padding: 0 25px;
    height: 46px;
    display: inline-block;
    font-size: 15px;
    font-family: $font-secondary;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
}