h1 {
    font-family: $font-secondary;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    span {
        color: $primary
    }
}

p.title-bg {
    display: none;
    letter-spacing: 10px;
    text-align: center;
    font-family: $font-secondary;
    font-weight: 800;
    font-size: 110px;
    letter-spacing: 10px;
    line-height: 0.7;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-121%);
    color: rgba(255, 255, 255, .14);
    @media(min-width: 576px) {
        display: block;
    }
}