h1 {
    font-family: $font-secondary;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    span {
        color: $primary
    }
    &.big {
        font-size: 56px;
        text-align: center;
    }
}

p.title-bg {
    display: none;
    letter-spacing: 10px;
    text-align: center;
    font-family: $font-secondary;
    font-weight: 800;
    font-size: 110px;
    line-height: 0.7;
    text-transform: uppercase;
    transform: translateY(-90%);
    color: rgba(255, 255, 255, .07);
    @media(min-width: 576px) {
        display: block;
    }
}

h3 {
    font-size: 21px;
    font-weight: 600;
    font-family: $font-secondary;
}