a, a:hover {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 16px;
    font-weight: 400;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
}

section {
    max-width: 100%;
    overflow: hidden;
}

button {
    color: white;
    border: none;
}

@media (max-width: 1350px) and (min-width: 992px) {
    .container {
        max-width: calc(100% - 195px);
    }
}

@media(min-width: 1200px) {
    .container {
        padding: 0 100px !important;
    }
}