@import "reset";
@import "fonts";
@import "variables";
@import "headings";
@import "spacing";
@import "buttons";
@import "utilities";

// sections

//nav
@import "sections/nav/_mobile-menu";
// header
@import "sections/header";
@import "sections/home";

@import "icons/font-awesome.scss";
body {
    background-color: black;
    color: white;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: #111;
}
