@import "reset";
@import "fonts";
@import "variables";
@import "headings";
@import "spacing";
@import "buttons";
@import "utilities";
@import "forms";
@import "spinner";
@import "circle";

// sections
@import 'sections/about';
//nav
@import "sections/nav/_mobile-menu";
@import "sections/nav/_desktop-nav";
// header
@import "sections/header";
@import "sections/home";
@import "sections/contact";
@import "sections/blog";
@import "icons/font-awesome.scss";

body {
    color: white;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: #111;
}

.color-primary {
    color: $primary;
}

.clearfix, .clearfix::after, .clearfix:before {
    content: "";
    display: table;
    clear: both;
}
