nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 18px;
    background-color: #252525;
    transform: translateX(-100%);
    transition: transform 100ms ease-in-out;
    z-index: 1;
    @media(min-width: 576px){
        font-size: 26px;
    }
    .mobile-nav {
        height: 100%;   
        -webkit-font-smoothing: antialiased;
        li {
            border-bottom: 1px solid rgba(255, 255, 255, .05);
            &:last-child {
                border: none;
            }
            &.active {
                color: $primary;
                font-weight: 600;
            }
        }
    }
    &.opened {
        transform: translateX(0px);

    }
}

.toggle-menu {
    z-index: 2;
    top: 15px;
    span {
        background-color: #fff;
        height: 2px;
        width: 22px;
        transition: all 300ms;
    }
    &.opened {
        span {
            &.first {
                transform: rotate(45deg)  translate(5px, 4px);
            }
            &.second {
                opacity: 0;
            }
            &.third {
                transform: rotate(-45deg)  translate(6px, -5px);
            }
        }
    }
}